.link {
  margin-bottom: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  width: 100%;
}
.link > span {
  font-size: inherit;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.icon {
  font-size: var(--mantine-font-size-xl);
}
